body {
  padding: 5px;
  margin:auto;
  max-width: 700px;
  font-family: 'Open Sans', 'helvetica-neue', helvetica, sans-serif;
/* font-family: Georgia, Cambria, 'Times New Roman', Times, serif; */
/*  font-family: 'Hevetica-Neue', sans-serif;*/
  font-size: 20px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
 text-decoration: none;
}

table {
  width: 90%;
  background: #eee;
  margin: auto;
}

th {
  font-weight: bold;
  text-align: left;
}

td .number {
  font-family: mono
  text-align: right
}
td .mono {
  font-family: mono
}

#main {
  padding: 5px;
  margin:auto;
  max-width: 700px;
  line-height: 150%;
}

#main h1 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana;
  font-size: 36px;
  line-height: 125%;
  font-weight: bold;
}

article.post footer {
  text-align: right;
  text-decoration: none;
}

#meta {
 margin-left: 20px;
 margin-right: 20px;
}

aside #prev {
 float: left;
 width: 60%;
}
aside #next {
 clear: both;
 float: right;
 width: 60%;
}

#mainnav {
  clear:both;
  overflow: auto;
  list-style-type: none;
  font-size: 12px;
}

#mainnav li {
  font-size: 12px;
  list-style-type: none;
  float: left;
  margin-right: 0px;
  padding: 0 10px;
}

#maninav li:last-child {
  border-right: none;
}

#mainnav li a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#mainnav li a:hover {
  color: #666;
}

#mainnav li.active a {
  font-weight: bold;
  color: #333;
}
