<ul id="mainnav">
  <li>
    <a href="/post/">
      <span class="icon"> <i class="fa fa-book"></i></span>
      <span> blog </span>
    </a>
  </li>
  <li>
    <a href="/project/">
      <span class="icon"> <i class="fa fa-code"></i></span>
      <span> code </span>
    </a>
  </li>
  <li>
    <a href="/presentation/">
      <span class="icon"> <i class="fa fa-male"></i></span>
      <span> talks </span>
    </a>
  </li>
</ul>

<div>
  <ul>
  <li><a href="https://github.com/client9"><i class="fa fa-github"></i>Github</a></li>
  <li><a href="https://twitter.com/NGalbreath"><i class="fa fa-twitter"></i>Twitter</a></li>
  </ul>
</div>
