<div style="margin:auto; text-align: center">
<ul id="mainnav">
  <li><a href="/nickgalbreath">Nick Galbreath</a></li>
  <li><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
  <li><a href="/post/"><i class="fa fa-book"></i>&nbsp;blog</a></li>
  <li><a href="/project/"><i class="fa fa-code"></i>&nbsp;code</a></li>
  <li><a href="/presentation/"><i class="fa fa-file-powerpoint-o"></i>&nbsp;talks</a></li>
  <li><a href="https://github.com/client9"><i class="fa fa-github"></i>&nbsp;Github</a></li>
  <li><a href="https://twitter.com/NGalbreath"><i class="fa fa-twitter"></i>&nbsp;Twitter</a><li>
</ul>
<div style="clear:both"></div>
</div>
